*{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

body{
    background-color: rgb(241, 139, 207);
}

main{
    background-color: rgb(19, 158, 158);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0.40);
}
